@charset "UTF-8";

.text-box {
	width: 500px;
	font-size: 16px;
	line-height: 16px;
	background-color: #fad296;
	border: 5px solid #8f5a0a;
	padding: 20px;
	border-radius: 30px;
	margin: 0 auto;
	position: relative;
}

.text-box:before,.text-box::after {
	content: "";
	position: absolute;
	left: 30px;
	border: 20px solid transparent;
	border-top: 20px solid #fad296;

}

.text-box::before {
	top: 96%;
	z-index: 2;
}

.text-box::after {
	top: 100%;
	border-top: 20px solid #8f5a0a;
	z-index: 1;
}
